<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Title</title>
</head>
<body>
    <h1>before</h1>
    <br>
    <%- body %>
    <br>
    <h2>after</h2>
</body>
</html>